
.register-container{
  min-height: 100vh;
  background-color: #f0f2f5;
  .content-left{
    padding-top: 55px;
    .brand{
      .marcus-logo{
        height: 90px;
        padding-left: 30px;
      }
    }
    .detail{
      font-size: 28px;
      font-weight: normal;
      padding-left: 28px;
    }
  }
  .content-right{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    .brand-mobile{
      .marcus-logo{
        height: 60px;
       
      }
    }
    .forgot-password{
      color:#1877f2
    }
    .register{
      font-size: 20px;
      font-weight: 700;
    }
    .forgot-password{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    
  }

}