
.login-container{
  min-height: 100vh;
  background-color: #f0f2f5;
  .content-left{
    padding-top: 55px;
    .brand{
      h1{
        color: #3f456c;
        font-family: math;
        font-size: 60px;
        letter-spacing: 5px;
      }
      p{
        letter-spacing: 5px;
        color: #272858;
        font-size: 23px;

      }
    }
    .detail{
      font-size: 20px;
      font-weight: normal;
      color: #272858;
      letter-spacing: 5px;
      line-height: 30px;
      font-style: italic;
    }
  }
  .content-right{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    .brand-mobile{
      h1{
        color: #3f456c;
        font-family: math;
        font-size: 35px;
      }
    }
    .forgot-password{
      color:#1877f2
    }
    .login{
      font-size: 20px;
      font-weight: 700;
    }
    .forgot-password{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    
  }

}
.form-lable{
  font-family: system-ui;
}