
.manage-users-container{
  .user-header{
    .tabel-users{
      font-family: emoji;
      font-weight: 600;
    }
  }
  .user-body{
   .edit-icon{
    font-size: 18px;
   }
   .delete-icon{
    font-size: 18px;
   }
  }
}
.modal-user{
  .content-body{
    .red-point{
      color: red;
    }
  }
}
